{% extends 'base.html.twig' %}

{% block title %}employe{% endblock %}

{% block body %}
    <h1>employe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employe.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employe_index') }}">voir la liste</a>

    <a href="{{ path('app_employe_edit', {'id': employe.id}) }}">edit</a>

{% endblock %}
